# Titanium 6-4 material.config file

#-------------------#
<homogenization>
#-------------------#

[SX]
mech	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) F              # deformation gradient tensor
(output) Fe             # elastic deformation gradient tensor
(output) Fp             # plastic deformation gradient tensor
(output) P              # first Piola-Kichhoff stress tensor
(output) Lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[Titanium_alpha] 
plasticity	phenopowerlaw
elasticity	hooke

lattice_structure	hex
c/a	1.587

# M. Levy, Handbook of Elastic Properties of Solids, Liquids, and Gases (2001)
c11	160.0e9
c12	 90.0e9
c13	 66.0e9
c33	181.7e9
c44	 46.5e9
# C. Zambaldi, "Orientation informed nanoindentation of a-titanium: Indentation pileup in hexagonal metals deforming by prismatic slip", J. Mater. Res., Vol. 27, No. 1, Jan 14, 2012
gdot0_slip	0.001
n_slip	20
nslip	            3        3 0        6
tau0_slip	  60.0e6 60.0e6 0 420.0e6 
tausat_slip	  60.0e6 60.0e6 0 420.0e6
a_slip	2
h0_slipslip	15e6

interaction_slipslip	1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

(output) F              # deformation gradient tensor
(output) Fe             # elastic deformation gradient tensor
(output) Fp             # plastic deformation gradient tensor
(output) P              # first Piola-Kichhoff stress tensor
(output) Lp             # plastic velocity gradient tensor 

[Titanium_beta]

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       bcc
Nslip                   12  12                  # per family
Ntwin                    0                      # per family
c11                     233.3e9
c12                     135.5e9
c44                     118.0e9
gdot0_slip              0.001
n_slip                  20
tau0_slip               6.0e6 6.0e6           # per family, optimization long simplex 109
tausat_slip             6.0e6 6.0e6          # per family, optimization long simplex 109
h0_slipslip             1000.0e6
interaction_slipslip    1 1 1.4 1.4 1.4 1.4
a_slip                 2.0

(output) F              # deformation gradient tensor
(output) Fe             # elastic deformation gradient tensor
(output) Fp             # plastic deformation gradient tensor
(output) P              # first Piola-Kichhoff stress tensor
(output) Lp             # plastic velocity gradient tensor

#-------------------#
<microstructure>
#-------------------#
[Beta]   	# Microstructure 1
crystallite 1
(constituent)  phase 1   texture 01   fraction 1.0
# -------------- Alpha -------------#

[Alpha]		# Microstructure 2
crystallite 1
(constituent)  phase 2   texture 02   fraction 1.0

#-------------------#
<texture>
#-------------------#
[Beta]		# 000 Orientation
(gauss)  phi1 00.00    Phi 0.0    phi2 00.00   scatter 0.0   fraction 1.0  

# ------------------#
# Rotation of beta coord axes to variants coord axes. (bunge ZXZ)
[Alpha]		# Variant 3
(gauss)  phi1 225.0    Phi 90.0    phi2 355.00   scatter 0.0   fraction 1.0
